.text {
  position: relative;
  padding: 0 20px;

  &:after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 9%;
    transition: width 150ms ease-in-out;
  }
}

.completed {
  &:after {
    width: 85%;
  }
}