@import "Assets/constants";

.todo__list {
  margin: 20px;
  width: 60%;

  &__item {
    padding: 10px 20px;
    background-color: $white;
    margin-bottom: 2px;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-gap: 10px;
    align-items: center;

    &__check {
      width: 30px;
      height: 30px;
      border-radius: 3px;
      background-color: #fff;
      display: flex;
      cursor: pointer;

      i {
        color: $green;
        margin: auto;
      }
    }

    &__del {
      color: #fff;
      cursor: pointer;
    }

    &__text {
      display: flex;
      align-items: flex-start;
    }
  }
}
