@import "Assets/constants";

.title {
  font-family: 'Caveat', cursive;
  font-size: 5em;
  text-align: center;
  font-weight: 900;
  color: $brown;
  margin: 40px 0 20px;

  @media (max-width: 700px) {
    margin: 10px 0 10px;
    font-size: 3em;
  }
}
