@import "Assets/constants";

.footer {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 3fr auto;

  &__filter {
    display: flex;
    justify-content: center;
  }
}

.btn {
  margin: 0 5px;
  padding: 0 5px;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Caveat', cursive;
  font-size: 1em;

  &:focus {
    outline: none;
  }

  &:active {
    background-color: #f7f6fb;
  }
}

.active {
  color: $green;
}