@import "Assets/constants";

.wrapper {
  font-family: 'Caveat', cursive;
  font-size: 20px;
  border-radius: 10px;
  background-color: #fff;
  color: $dark-green;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20%;

  @media (max-width: 900px) {
    padding: 10px 10%;
  }

  @media (max-width: 700px) {
    padding: 10px 10px;
    font-size: 16px;
  }
}