@import "Assets/constants";

.wrapper {
  font-family: 'Caveat', cursive;
  font-size: 20px;
  border-radius: 10px;
  background-color: #fff;
  color: $dark-green;
  display: flex;
  flex-direction: column;
  align-items: center;
}
